.main-list {
  width: 100%;
  max-height: 50vh;
  height: 100%;
  overflow: auto;
}

.main-list-item {
  width: 100%;
}

.sender-chat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.received-chat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.chat-box {
  display: flex;
}

.message {
  font-weight: 500;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.timestamp {
  padding: 0 0.5rem;
}

.status {
  padding: 0 0.5rem;
}

mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
